<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Page</title>
</head>
<body>
    <h1>Welcome to the Fun Page</h1>
    <% for (let i=0; i<funGames.length; i++) {%>
        <h2><%= funGames[i] %></h2>
    <% } %>
</body>
</html>